body,.App-header{
  /* background-color: #282c34; */
  background-color: #20232A;
  line-height: 1.6;
}

.App-header {
 margin: auto;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:20px
}
.search-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.search-section h1{
  display: none;
}
.search-section input{
  padding:10px 20px;
  font-size: 16px;
  border: none;
  flex: 1 1 240px;
}

.emote-container{
  /* min-height: 100vh; */
 
}
.emote-section{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.emote-section{
  cursor: pointer;
}
.notification{
  padding: 8px;
  font-size: 16px;
  background-color: #32363d;
  color: #fff
}
.footer{
  display: inline-block;
  margin-top: 16px;
}
.footer a {
  color: white;
}
 /* media query */
@media only screen and (min-width: 1024px) {
 
.App-header{
  width: 900px
}
.emote-section{
  
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  justify-content: space-evenly;
}
.search-section input{
  padding:10px 20px;
  border: none;
  flex: 0 1 240px;
}
.search-section h1{
  display: block;
}
.search-section,.emote-section{
  padding: 0;
}
.footer{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;


}

}